<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Home Page</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <link href="/public/css/shop-homepage.css" rel="stylesheet">
    <style>
        .btn-glass {
        flex-grow: 1;
        text-align: center;
        display: inline-block;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        padding: 1em 2em;
        font-family: Lato;
        font-weight: 300;
        border: 1px dotted transparent;
        letter-spacing: 0.98pt;
        text-transform: uppercase;
        transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
        position: relative;
        background-attachment: fixed, scroll;
        background-size: 100vw 100vh, cover;
        background-position: center center, 0 0;
        background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
        }
        .btn-glass:hover {
        background-position: -100vw 0, 0 0;
        }
        .btn-glass:active {
        background-position: -75vw 0, 0 0;
        border-style: solid;
        }
        .nav-light {
        background-color: white;
        }
        .nav-light .btn-glass {
        color: #585858;
        background-color: rgba(17, 17, 17, 0);
        }
        .nav-light .btn-glass:hover {
        color: rgba(255, 255, 255, 0.7);
        border-color: #000000;
        background-color: #111111;
        }
        .nav-light .btn-glass:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(17, 17, 17, 0.5);
        }
        .nav-light .btn-glass.btn-primary {
        color: #6ab1d1;
        background-color: rgba(42, 143, 189, 0);
        }
        .nav-light .btn-glass.btn-primary:hover {
        color: rgba(255, 255, 255, 0.7);
        border-color: #1c607e;
        background-color: #2a8fbd;
        }
        .nav-light .btn-glass.btn-primary:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(42, 143, 189, 0.5);
        }
        .nav-light .btn-glass.btn-success {
        color: #a5c75f;
        background-color: rgba(127, 175, 27, 0);
        }
        .nav-light .btn-glass.btn-success:hover {
        color: rgba(255, 255, 255, 0.7);
        border-color: #4f6d11;
        background-color: #7faf1b;
        }
        .nav-light .btn-glass.btn-success:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(127, 175, 27, 0.5);
        }
        .nav-light .btn-glass.btn-warning {
        color: #fccd69;
        background-color: rgba(251, 184, 41, 0);
        }
        .nav-light .btn-glass.btn-warning:hover {
        color: rgba(255, 255, 255, 0.7);
        border-color: #d49104;
        background-color: #fbb829;
        }
        .nav-light .btn-glass.btn-warning:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(251, 184, 41, 0.5);
        }
        .nav-light .btn-glass.btn-danger {
        color: #f56558;
        background-color: rgba(240, 35, 17, 0);
        }
        .nav-light .btn-glass.btn-danger:hover {
        color: rgba(255, 255, 255, 0.7);
        border-color: #aa180b;
        background-color: #f02311;
        }
        .nav-light .btn-glass.btn-danger:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(240, 35, 17, 0.5);
        }
        .nav-light .btn-glass.btn-info {
        color: #98e9f0;
        background-color: rgba(108, 223, 234, 0);
        }
        .nav-light .btn-glass.btn-info:hover {
        color: rgba(255, 255, 255, 0.7);
        border-color: #29d0e0;
        background-color: #6cdfea;
        }
        .nav-light .btn-glass.btn-info:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(108, 223, 234, 0.5);
        }
        .nav-dark {
        background-color: #444444;
        }
        .nav-dark .btn-glass {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(17, 17, 17, 0);
        }
        .nav-dark .btn-glass:hover {
        border-color: #000000;
        background-color: #111111;
        }
        .nav-dark .btn-glass:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(17, 17, 17, 0.5);
        }
        .nav-dark .btn-glass.btn-primary {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(42, 143, 189, 0);
        }
        .nav-dark .btn-glass.btn-primary:hover {
        border-color: #1c607e;
        background-color: #2a8fbd;
        }
        .nav-dark .btn-glass.btn-primary:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(42, 143, 189, 0.5);
        }
        .nav-dark .btn-glass.btn-success {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(127, 175, 27, 0);
        }
        .nav-dark .btn-glass.btn-success:hover {
        border-color: #4f6d11;
        background-color: #7faf1b;
        }
        .nav-dark .btn-glass.btn-success:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(127, 175, 27, 0.5);
        }
        .nav-dark .btn-glass.btn-warning {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(251, 184, 41, 0);
        }
        .nav-dark .btn-glass.btn-warning:hover {
        border-color: #d49104;
        background-color: #fbb829;
        }
        .nav-dark .btn-glass.btn-warning:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(251, 184, 41, 0.5);
        }
        .nav-dark .btn-glass.btn-danger {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(240, 35, 17, 0);
        }
        .nav-dark .btn-glass.btn-danger:hover {
        border-color: #aa180b;
        background-color: #f02311;
        }
        .nav-dark .btn-glass.btn-danger:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(240, 35, 17, 0.5);
        }
        .nav-dark .btn-glass.btn-info {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(108, 223, 234, 0);
        }
        .nav-dark .btn-glass.btn-info:hover {
        border-color: #29d0e0;
        background-color: #6cdfea;
        }
        .nav-dark .btn-glass.btn-info:active {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1em 0.5ex rgba(108, 223, 234, 0.5);
        }
        nav.btn-bar {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        }
        :root {
        font-family: 'Open Sans', sans;
        font-size: 11pt;
        line-height: 1.6;
        min-height: 100vh;
        background-attachment: fixed, scroll;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49914/grit-fs8.png), radial-gradient(ellipse farthest-corner, #555555, #999999);
        }
        body {
        width: 75vw;
        margin: 4em auto;
        line-height: inherit;
        }
        article {
        padding: 0;
        border: 2px solid transparent;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0 1ex 1em rgba(0, 0, 0, 0.3);
        }
        code {
        font-family: monospace;
        display: inline-block;
        padding: 0.5ex 1ch 0.25ex 1ch;
        background-color: #ccc;
        border-radius: 1ex;
        margin: 0 0.5ch;
        }
        article + article {
        margin-top: 4em;
        }
        article section {
        margin: 2em;
        }
        article > section > h2 {
        font-family: 'Lato';
        font-weight: 800;
        font-size: 1.3em;
        margin-bottom: 0.8em;
        }
        article > section > p {
        margin-bottom: 1em;
        text-indent: 2ch;
        }
        article > section > p:first-child,
        article > section > h2 + p {
        text-indent: 0;
        }
        h1 {
        font-family: 'Lato';
        font-weight: 800;
        text-align: center;
        font-size: 5vw;
        color: rgba(255, 255, 255, 0.3);
        }
        .dropdownContainer {
        margin: 80px auto;
        width: 400px;
        text-align: center;
        }

        .dropdownContainer > .dropdown {
        margin: 0 20px;
        vertical-align: top;
        }

        .dropdown {
        display: inline-block;
        position: relative;
        overflow: hidden;
        height: 28px;
        width: 150px;
        background: #f2f2f2;
        border: 1px solid;
        border-color: white #f7f7f7 whitesmoke;
        border-radius: 3px;
        background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
        background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
        background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
        }

        .dropdown:before, .dropdown:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 9px;
        right: 10px;
        width: 0;
        height: 0;
        border: 4px dashed;
        border-color: #888888 transparent;
        pointer-events: none;
        }

        .dropdown:before {
        border-bottom-style: solid;
        border-top: none;
        }

        .dropdown:after {
        margin-top: 7px;
        border-top-style: solid;
        border-bottom: none;
        }

        .dropdown-select {
        position: relative;
        width: 130%;
        margin: 0;
        padding: 6px 8px 6px 10px;
        height: 28px;
        line-height: 14px;
        font-size: 12px;
        color: #62717a;
        text-shadow: 0 1px white;
        background: #f2f2f2; /* Fallback for IE 8 */
        background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        }

        .dropdown-select:focus {
        z-index: 3;
        width: 100%;
        color: #394349;
        outline: 2px solid #49aff2;
        outline: 2px solid -webkit-focus-ring-color;
        outline-offset: -2px;
        }

        .dropdown-select > option {
        margin: 3px;
        padding: 6px 8px;
        text-shadow: none;
        background: #f2f2f2;
        border-radius: 3px;
        cursor: pointer;
        }

        /* Fix for IE 8 putting the arrows behind the select element. */

        .lt-ie9 .dropdown {
        z-index: 1;
        }

        .lt-ie9 .dropdown-select {
        z-index: -1;
        }

        .lt-ie9 .dropdown-select:focus {
        z-index: 3;
        }

        /* Dirty fix for Firefox adding padding where it shouldn't. */

        @-moz-document url-prefix() {
        .dropdown-select {
            padding-left: 6px;
        }
        }

        .dropdown-dark {
        background: #444;
        border-color: #111111 #0a0a0a black;
        background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
        background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
        background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .dropdown-dark:before {
        border-bottom-color: #aaa;
        }

        .dropdown-dark:after {
        border-top-color: #aaa;
        }

        .dropdown-dark .dropdown-select {
        color: #aaa;
        text-shadow: 0 1px black;
        background: #444;  /* Fallback for IE 8 */
        }

        .dropdown-dark .dropdown-select:focus {
        color: #ccc;
        }

        .dropdown-dark .dropdown-select > option {
        background: #444;
        text-shadow: 0 1px rgba(0, 0, 0, 0.4);
        }
        #box {
            display: flex;
            flex-direction: row;
        }
        #row {
            width: 100%;
        }
        #column {
            width: 25vw;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">DocLoc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
        <h1 >User Home </h1>
        <br>
        <h2 style="font-family: Arial, Helvetica, sans-serif;"> Appointment List </h2>
        <% for (let j=0; j<user.Doctors.length; j++) { %>
          <article>
              <section>
                  <h2>Appointment With <%= `${user.Doctors[j].name}` %></h2>
                  <p><%= `${user.Doctors[j].DoctorUser.note}` %></p>
              </section>
<<<<<<< HEAD
            <div class="btn-bar nav-dark">
              <a href="/users/<%= user.Doctors[j].DoctorUser[i].id %>/delete" class="btn btn-glass btn-danger">
                <i class="fa fa-fw fa-lg fa-check"></i> Delete
              </a>
            </div>
=======
              <nav class="btn-bar nav-dark">
                  <a href="/users/<%= user.id %>/delete/<%= user.Doctors[j].DoctorUser.id %>" class="btn btn-glass btn-danger">
                    <i class="fa fa-fw fa-lg fa-check"></i> Delete
                  </a>
                </nav>
>>>>>>> 1ba464c49a20afd6c3df39fa7d3f5d248ee1f360
          </article>
        <% } %>
        <br>
        <br>
        <h2 style="font-family: Arial, Helvetica, sans-serif;"> Find Doctors </h2>
        <article>
            <form action="/users/<%= user.id %>/search/doctors" method="POST">
                <div id="box">
                    <section class="dropdownContainer" id="row inline">
                        <div class="dropdown" id="column">
                          <select name="SpecialisasiId" class="dropdown-select">
                            <option value="">Specilization Category</option>
                            <option value="1">General Practicioner</option>
                            <option value=2> Dental Care </option>
                            <option value=3> Dermatology </option>
                            <option value=4> Obstetrics and Gynecology </option>
                            <option value=5> Pediatrics </option>
                            <option value=6> Opthalmology </option>
                          </select>
                        </div>
                        <div class="dropdown dropdown-dark" id="column">
                          <select name="LocationId" class="dropdown-select">
                            <option value=null> Location </option>
                            <option value=1> South Jakarta </option>
                            <option value=2> North Jakarta </option>
                            <option value=3> Central Jakarta </option>
                            <option value=4> West Jakarta </option>
                            <option value=5> East Jakarta </option>
                          </select>
                        </div>
                      </section>
                      <nav class="btn-bar nav-light">
                          <button id="row">
                              <input style="height: 25vh;" type="submit" value="Find Doctor"class="btn btn-glass btn-info">
                          </button>
                      </nav>
                </div>
            </form>
        </article>
</body>
</html>