<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <link href="/public/css/shop-homepage.css" rel="stylesheet">

    <title>Search Result</title>
    <style>
        body {
            margin: 0;
            margin-top: 75px;
            background-color: darkgrey;
        }
        h1, p, span {
            font-family: monospace;
            font-weight: 300;
            text-align: center;
            color: rgba(0, 0, 0, 0.5);
        }
        h1, h1 + p {
            margin: 2rem 1rem;
        }
        .wrapper {
            max-width: 60rem;
            margin: 0 auto;
            display: inline-block;
            align-items: center;
            justify-content: center;
            margin-bottom: 3rem;
            margin-left: 130px;
        }
        .box {
            width: 15rem;
            height: 20rem;
            padding: 0 2rem 3rem;
            transition:
                transform 0.3s linear 0s,
                filter 0.5s linear 0.3s,
                opacity 0.5s linear 0.3s;
            /*transform-origin: top center;*/
        }
        .product {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 0.2rem;
            background-color: #fff;
            background-position: top 3rem center;
            background-size: 80%;
            background-repeat: no-repeat;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
            transition:
                box-shadow 0.5s linear,
                height 0.1s linear 0s;
        }
        .name {
            display: block;
            padding: 1rem 0.5rem;
        }
        .description {
            position: absolute;
            bottom: 1rem;
            left: 0;
            right: 0;
            display: block;
            padding: 0 1.5rem;
            opacity: 0;
            transition: opacity 0.1s linear 0s;
        }
        .wrapper:hover .box:not(:hover)  {
            filter: blur(3px);
            opacity: 0.5;
        }
        .box:hover  {
            transform: scale(1.1);
            transition:
                transform 0.3s linear 0.3s,
                filter 0.1s linear 0s,
                opacity 0.1s linear 0s;
        }
        .box:hover .product {
            height: 23rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
            transition:
                box-shadow 1s linear,
                height 0.3s linear 0.5s;
        }
        .box:hover .description {
            opacity: 1;
            transition: opacity 0.3s linear 0.75s;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .card-body {
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">DocLoc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/doctors/logout">Logout</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <% for (let i=0; i<doctors.length; i++) { %>
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="card">
                <div class="card-body row" style="display: flex; margin: 20px;">
                    <div>
                        <h4 class="card-title" ><strong><%= doctors[i].addTitle() %></strong></h4>
                        <h5 class="card-text">Working Hours : <%= doctors[i].workingHours %></h5>
                        <h5 class="card-text">Address : <%= doctors[i].address %></h5>
                        <h5 class="card-text">Tariff : Rp. <%= doctors[i].tarif %></h5>
                        <h5 class="card-text">Rating : <%= doctors[i].rating %></h5>
                    </div>
                    <div>
                        <a href="/users/<%= userId %>/<%= doctors[i].id %>/add/appo" class="btn btn-primary">Make Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</body>
</html>